* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Header Style  starts here*/

header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./Image/anthony-riera-kylWNDQFd5A-unsplash.jpg') no-repeat center/cover
      fixed;
  width: 100%;
  height: 100vh;
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: 0.5s;
}

nav ul li a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: lightgray;
  margin: 0 auto;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav > ul > li > a:hover {
  color: lightgray;
}

.navbarOffsetMargin {
  padding-top: 45px;
}

nav ul li a.active {
  color: white;
}

nav ul li a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 0 auto;
  transition: 0.5s;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}

.intro h1 {
  color: white;
  text-transform: capitalize;
}

.intro p {
  color: gainsboro;
  text-align: center;
  text-transform: capitalize;
}

/* header section style ends here */

/* About Section style  starts here*/

#about {
  padding: 5rem 0rem;
}

.aboutMe {
  width: 50%;
}

.developers-image > img {
  width: 100%;
  height: 27rem;
}

.developers-image {
  width: 18rem;
}

.aboutMe > h2 {
  margin-bottom: 10px;
}

.aboutMe > p {
  line-height: 1.3;
  text-align: justify;
}

/* About section ends here */

/* My Skills Style Starts here*/

#skills {
  padding: 2rem 0px;
  text-align: center;
  background: black;
  color: white;
}

.skills-category img {
  width: 5rem;
  display: block;
  margin: 10px auto;
}

.skills-category {
  background: #202020;
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 2rem;
  transition: 0.5s;
}

.skills-category:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
  background-color: #383535;
}

.bootstrap svg {
  width: 5rem;
  display: block;
  margin: 10px auto;
}

.nextjs svg {
  width: 5rem;
  display: block;
  margin: 10px auto;
  height: 5rem;
}

.progress-bar {
  width: 0%;
  transition: 1s;
}

/* Skills section style ends here */

/* works section style stats here */

section#works {
  padding: 5rem 3rem 3rem 3rem;
}

section#works > h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.item {
  height: 509px;
  border-radius: 15px;
  padding: 0px;
  overflow: hidden;
  width: 354px;
  margin: 8px;
  margin-top: 1rem;
  box-shadow: 1px 1px 4px 1px black;
}

/* services section style starts here */

#service > h1 {
  padding-top: 6rem !important;
}

.service-img {
  width: 62px;
}
.circle {
  border: 2px solid lightgray;
  height: 110px;
  border-radius: 50%;
  width: 110px;
  position: relative;
}
.service-item:hover .circle {
  transition: 2s;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.circle::after,
.circle::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border-radius: 50%;
  position: absolute;
  top: 39%;
}

.circle::after {
  left: -9%;
}

.circle::before {
  right: -9%;
}
.circle .dot2 {
  left: 93%;
}

.service-img {
  position: absolute;
  top: 18%;
  left: 21%;
}

.service-icon {
  position: relative;
  width: 112px;
}

.service-item {
  width: 304px;
  height: 329px;
}

.services {
  position: relative;
  top: 10px;
  z-index: 0;
  margin-bottom: 2rem;
  padding-top: 5rem;
}

.services::before {
  content: 'SERVICES';
  display: inline-block;
  font-size: 8rem;
  text-shadow: 0 0 2px white;
  color: black;
  font-weight: 1000;
  position: absolute;
  top: 5px;
  left: -23px;
  z-index: -1;
}

.service-body h2 {
  font-size: x-large;
  text-align: center;
}
.service-body p {
  font-size: medium;
}

.text-justify {
  text-align: justify;
}

/* Testimonials style starts here */

.testimonials {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./Image/andre-noboa-8iZEIhA_5ao-unsplash.jpg');
  background-position: top center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 3rem 0px;
}
.carousel-item {
  margin-bottom: 3rem;
}

.my-container-style {
  width: 60%;
}

/* works section style ends here */

/* footer style starts here*/
.social-link a {
  display: inline-block;
  margin: 10px;
  color: white;
}

/* .social-link i:hover{
  cursor: pointer;
} */

/* Media query for Tablet starts here*/

@media screen and (max-width: 820px) {
  nav ul li {
    font-size: 15px;
  }

  .aboutMe p {
    font-size: 14px;
  }

  .developers-image > img {
    height: 28rem;
  }

  .skills-container {
    width: 45rem;
  }
  .footer-name {
    display: none;
    visibility: hidden;
  }
}

.menu {
  display: none;
}
.close {
  display: none;
  position: absolute;
  right: 33px;
  z-index: 1000;
  cursor: pointer;
}

/* Media query for Tablet ends here */

/* Media query for Android stats here*/

@media screen and (max-width: 576px) {
  .skills-container {
    display: block;
    width: 100%;
  }

  .menu {
    display: block;
    width: 10px;
    cursor: pointer;
  }
  nav ul li a::after {
    content: '';
    display: none;
    visibility: hidden;
  }

  #nav-link {
    position: absolute;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: #383535;
    padding: 3rem;
    transition: 0.5s;
  }

  .navbar-expand .navbar-nav {
    flex-direction: column;
  }

  #nav-link li {
    float: none;
  }
  section#works {
    padding: 10px;
  }

  .my-container-style {
    width: 100%;
  }

  .blockquote {
    font-size: initial;
  }

  .block-sm {
    display: none;
    visibility: hidden;
  }

  .col-6 {
    width: 100%;
  }
  .my-footer div {
    padding: 0 !important;
    display: block;
  }

  .my-footer i {
    font-size: 20px;
    margin: 2px;
  }
  #nav-bar {
    padding-right: 2rem !important;
    padding-left: 1rem !important;
  }
}

/* Media query for Android ends here*/
